data-dir: {{ rke2_data_dir }}
{% if rke2_type != "server" %}
server: https://{{ rke2_api_ip }}:9345
{% endif %}
token: {{ rke2_token }}
{% if rke2_type != "agent" %}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
tls-san:
  - cluster.local
{% if rke2_additional_sans is defined %}
{% if rke2_additional_sans is string %}
{% for san in (rke2_additional_sans | from_json) %}
  - {{ san }}
{% endfor %}
{% else %}
{% for san in rke2_additional_sans %}
  - {{ san }}
{% endfor %}
{% endif %}
{% endif %}
kube-apiserver-arg: "kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname"
{% if cni and cni != "none" %}
cni: {{ cni }}
{% endif %}
{% endif %}
node-name: {{ inventory_hostname }}
kubelet-path: {{ rke2_data_dir }}/bin/kubelet
{% if kube_apiserver_image is defined %}
kube-apiserver-image: {{ kube_apiserver_image }}
{% endif %}
{% if kube_controller_manager_image is defined %}
kube-controller-manager-image: {{ kube_controller_manager_image }}
{% endif %}
{% if kube_proxy_image is defined %}
kube-proxy-image: {{ kube_proxy_image }}
{% endif %}
{% if kube_scheduler_image is defined %}
kube-scheduler-image: {{ kube_scheduler_image }}
{% endif %}
{% if pause_image is defined %}
pause-image: {{ pause_image }}
{% endif %}
{% if runtime_image is defined %}
runtime-image: {{ runtime_image }}
{% endif %}
{% if etcd_image is defined %}
etcd-image: {{ etcd_image }}
{% endif %}
