#jinja2: trim_blocks: False
{% if custom_mirror == 'active' %}
mirrors:
  {%- for reg_add in registry_address %}
  "{{ reg_add }}":
    endpoint:
      - "http://{{ reg_add }}"
  {%- endfor %}
configs:
  {%- for reg_add in registry_address %}
  "{{ reg_add }}":
    auth:
      username: {{ registry_user }}
      password: {{ registry_password }}
  {%- endfor %}
{% endif %}